@model IEnumerable<Lab24_Moviestore.Models.Movie>
@{
    ViewData["Title"] = "Movie Checkout";
}

<h1>Movie Checkout</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                Runtime (minutes)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Runtime)
                </td>                
            </tr>
        }
    </tbody>
</table>
<p>Would you like to checkout this movie?</p>
<button type="button" class="btn btn-success">Yes</button>
<button type="button" class="btn btn-danger">No</button>